.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: #ececec;
    font-size: 1.8rem;
}
.bx_title {
    text-align: center;
    width: 100%;
    margin: 150px 0;
    font-size: 5rem;
    color: black;
}
.Grid {
    display: flex;
    justify-content: center;
}

.GridVal {
    text-align: center;
    color: black;
}

.GridVal h1 {
    font-size: 60px;
    line-height: 60px;
}

.GridVal span {
    font-size: 60px;
    line-height: 100px;
}

.Button {
    color: white;
    background: #8400a1;
    padding: 8px 16px;
    font-size: 1.4rem;
    margin: 16px 0;
}

.Button:hover {
    background: rgb(255, 73, 194);
}