.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #1e1e1e;
    padding: 8px 16px;
    font-size: 1.8rem;
    color: #ececec;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: 'Quicksand', sans-serif;
}
.logolink {
    width: 33%;
}
.navlogobx {
    width: 50px;
}
.navbar__ull{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 33%;
}
.navbar ul li{
    width: auto;
    margin: 0 16px;
}
.navbar .navbar__uld {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 800;
    width: 33%;
}
.button {
    background-image: linear-gradient(#c142ec, #c900bf);
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button:hover {
    background-image: linear-gradient(#c900bf,#c142ec);
}