:root {
    --negro: #50535A;
    --blanco: #fff;
    --primary-color: #540d6e;
    --secondary-color: #ee4266;
    --terciary-color: #ffd23f;
    /* Tipografía */
    --tipo-principal: 'Quicksand', sans-serif;
    --tipo-secundaria: Verdana;
}
.mainButton{
    border: 1px solid var(--primary-color);
    width: 100px;
    height: 40px;
    background: var(--blanco);
    color: var(--primary-color);
    font-weight: bold;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mainButton:hover{
    background: var(--primary-color);
    color: var(--blanco);
}