.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
    background: rgb(30,30,30);
    color: white;
    font-size: 1.8rem;
}

.brand_bx {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 40%;
}

.brand_bx h2 {
    line-height: 30px;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.brand_bx figure {
    width: 200px;
    margin: 30px;
}

.brand_bx div {
    width: 50%;
    justify-content: center;
    display: flex;
}

.brand_bxes {
    width: 30%;
}

.brand_bxes h2 {
    line-height: 30px;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.brand_bxes ul li{
    font-size: 1.6rem;
    margin: 16px 0;
}